<launch>
    <include file="$(find final)/launch/S1/camera_publisher.launch"/>
    <include file="$(find final)/launch/S1/vision_detection.launch"/>
    <include file="$(find final)/launch/S1/bb_img_publisher.launch"/>
    <include file="$(find final)/launch/S1/bb_img_subscriber.launch"/>
</launch>
